<div class="text-center">
  <div class="file-upload-container mt-5">Click to select a Ms Word file.</div>
</div>
<form class="mt-4">
  <div class="row px-3">
    <div class="col-6 input-field">
      <label>Original Text 1 <span style="color: red">*</span></label>
      <input placeholder="Enter the text to replace (e.g.,`value`)" />
    </div>
    <div class="col-6 input-field">
      <label>Replace With 1 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Find Text 2 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Replace With 2 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Find Text 3 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Replace With 3 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Find Text 4 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Replace With 4 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Find Text 5 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
    <div class="col-6 input-field">
      <label>Replace With 5 <span style="color: red">*</span></label>
      <input placeholder="Enter another text to find (optional)" />
    </div>
  </div>
</form>
<div class="btn-center mt-4 mb-5">
  <button class="btn btn-primary mt-3 mb-5">Genrate File</button>
</div>
